@use "../../../scss/variables" as *;

.wrapper {
  width: 100%;
  position: relative;
}

.frameWrapper {
  width: 100%;
  padding-top: 56.25%;
  background-color: #000;
}

.playerTabs {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;

  @media (min-width: $xl) {
    max-width: 250px;
  }
}

.playerTabBtn {
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  color: #b1b1b1;
  padding: 5px 10px;
  border: 1px solid #b1b1b1;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: left;

  &:hover {
    color: var(--aqua);
    border-color: var(--aqua);
  }

  &Active {
    color: var(--aqua);
    border-color: var(--aqua);
  }
}

.spinnerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
