@use "../../../scss/variables" as *;
@use "../../../scss/common" as *;

.film {
  position: relative;
}

.backgroundContainer {
  margin-top: var(--header-height);
  padding-top: 56.25%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: -1px;
    background-image: radial-gradient(
      200% 100% at 50% 0%,
      rgba(0 0 0 / 0%) 0%,
      rgb(21 22 26) 95%
    );
  }

  @media (min-width: $md) {
    padding-top: 54%;
  }

  @media (min-width: $lg) {
    margin-top: 0;
    padding-top: 52%;

    &::before {
      background-image: radial-gradient(
        57.91% 85% at 70% 16.56%,
        rgba(0 0 0 / 0%) 0%,
        rgb(21 22 26) 95%
      );
    }
  }

  @media (min-width: $xl) {
    padding-top: 50%;
  }

  @media (min-width: $xxl) {
    padding-top: 48%;
  }
}

.content {
  position: static;

  @media (min-width: $lg) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 32%;
  }
}

.wrapper {
  display: flex;
}

.poster {
  object-fit: cover;
  width: 320px;
  height: 480px;
  border-radius: 15px;
  display: none;

  @media (min-width: $lg) {
    display: block;
    width: 240px;
    height: 360px;
  }

  @media (min-width: $xl) {
    width: 280px;
    height: 400px;
  }

  @media (min-width: $xxl) {
    width: 320px;
    height: 480px;
  }
}

.filmBLocksWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $lg) {
    margin-left: 50px;
    max-width: 555px;
  }
}

.title {
  @include font(24px, 26px, 900);

  margin-top: 0;
  margin-bottom: 5px;

  @media (min-width: $md) {
    font-size: 26px;
    line-height: 28px;
  }

  @media (min-width: $lg) {
    font-size: 30px;
    line-height: 32px;
  }

  @media (min-width: $xl) {
    font-size: 34px;
    line-height: 36px;
  }

  @media (min-width: $xxl) {
    font-size: 36px;
    line-height: 38px;
  }
}

.titleEng {
  @include font(14px, 18px, 500);

  margin-top: 0;

  @media (min-width: $md) {
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $lg) {
    font-size: 18px;
    line-height: 20px;
  }

  @media (min-width: $xl) {
    font-size: 20px;
    line-height: 22px;
  }
}

.info {
  @include font(14px, 18px, 500);

  display: inline-block;
  margin-right: 10px;
  color: rgb(255 255 255 / 60%);

  @media (min-width: $md) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $lg) {
    font-size: 18px;
    line-height: 22px;
  }
}

.description {
  @include font(14px, 18px, 400);

  @media (min-width: $md) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $xl) {
    font-size: 18px;
    line-height: 22px;
  }
}

.genreLink {
  @include font(16px, 20px, 400);

  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: underline;
  text-transform: capitalize;

  @media (min-width: $md) {
    font-size: 18px;
    line-height: 22px;
  }
}

.btnsWrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;

  @media (width >= 600px) {
    flex-direction: row;
  }
}

// authors

.authors {
  padding-bottom: 40px;

  @media (min-width: $md) {
    padding-top: 10px;
  }

  @media (min-width: $lg) {
    padding-top: 20px;
  }

  @media (min-width: $xl) {
    padding-top: 30px;
  }
}

.filmCrew {
  @include font(18px, 22px, 900);

  margin-bottom: 25px;
  margin-top: 0;

  @media (min-width: $md) {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 35px;
  }

  @media (min-width: $lg) {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 45px;
  }

  @media (min-width: $xl) {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 50px;
  }
}

.authorsList {
  @media (min-width: $md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.authorsItem {
  margin-bottom: 40px;

  @media (min-width: $md) {
    width: 48%;

    &:nth-child(odd) {
      margin-right: 20px;
    }
  }

  @media (min-width: $xl) {
    width: 46%;

    &:nth-child(odd) {
      margin-right: 95px;
    }
  }
}

.authorsTitle {
  @include font(16px, 20px, 500);

  opacity: 0.6;
  margin-top: 0;
  margin-bottom: 5px;

  @media (min-width: $md) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (min-width: $lg) {
    font-size: 18px;
    line-height: 22px;
  }
}

.authorsName {
  @include font(14px, 18px, 500);

  margin: 0;

  @media (min-width: $md) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $lg) {
    font-size: 18px;
    line-height: 22px;
  }
}
