@use "../../../scss/common" as *;
@use "../../../scss/variables" as *;

.title {
  @include font(18px, 21px, 600);

  margin: 40px 0;

  @media (min-width: $md) {
    font-size: 22px;
    line-height: 26px;
  }

  @media (min-width: $lg) {
    font-size: 24px;
    line-height: 28px;
  }

  @media (min-width: $xl) {
    font-size: 32px;
    line-height: 36px;
  }
}

.sliderPageBtns {
  opacity: 0;
  visibility: hidden;
}

.slider {
  overflow: visible;

  &:hover {
    .sliderPageBtns {
      opacity: 1;
      visibility: visible;
    }
  }
}

.wrapper {
  aspect-ratio: 2 / 3;
}

.poster {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  z-index: -1;
}

.content {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  border-radius: 15px;
  background: linear-gradient(
    180deg,
    rgba(255 255 255 / 0%) 70%,
    rgba(0 0 0 / 40%) 100%
  );
  transition: background 0.3s ease;

  @media (min-width: $md) {
    padding: 20px;
  }
}

.rating {
  background-color: var(--rating-green);
  place-self: start;
  padding: 4px 6px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 17px;

  @media (min-width: $md) {
    font-size: 16px;
    line-height: 19px;
  }
}

.btns {
  justify-self: end;
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0;
  align-self: end;
  grid-column: 1 / 3;
  font-size: 14px;
  line-height: 17px;
  text-shadow: 0 0 16px rgba(0 0 0 / 70%);

  @media (min-width: $md) {
    font-size: 16px;
    line-height: 19px;
  }
}

.slide {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);

    .content {
      background-color: rgba(0 0 0 / 70%);
    }

    button {
      opacity: 1;
    }

    .showAllText {
      text-decoration: underline;
    }
  }
}
