@use "../../../scss/variables" as *;

.btnPrev {
  left: 20px;
  right: auto;

  svg {
    transform: rotate(180deg);
  }
}

.btnNext {
  left: auto;
  right: 20px;
}

.btnNext,
.btnPrev {
  width: 50px;
  height: 70px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border-radius: 8px;
  background-color: rgba(255 255 255 / 30%);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
  visibility: 2s ease;
  display: none;

  &[disabled] {
    display: none;
  }

  &:hover {
    transform: translateY(-50%) scale(1.2);
  }

  svg {
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }

  @media (min-width: $lg) {
    display: block;
  }
}
