@use "../../../scss/variables" as *;

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;

  @media (width >= 600px) {
    flex-direction: row;
  }
}

.paginationList {
  margin: 0;
}

.paginationItem {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $md) {
    font-size: 18px;
    margin-right: 10px;
  }
}

.paginationItemStart,
.paginationItemEnd {
  display: none;

  @media (width >= 600px) {
    display: inline-block;
  }
}

.paginationLink {
  display: inline-block;
  color: #fff;
  padding: 10px 12px;
  background-color: var(--el-bg-color-primary);
  border-radius: var(--btn-radius);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--el-bg-color-primary-hover-100);
  }

  @media (min-width: $md) {
    padding: 10px 15px;
  }
}

.paginationLinkActive {
  color: #fff;
  background-color: var(--dark-aqua);

  &:hover {
    background-color: var(--dark-aqua);
  }
}

.paginationIconFirst,
.paginationIconLast {
  position: relative;
  top: 1px;
}

.paginationIconFirst {
  transform: rotate(180deg);
}

// jump
.paginationJump {
  position: relative;
  margin-top: 30px;

  @media (width >= 600px) {
    margin-top: 0;
  }
}

.paginationJumpBtn {
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  position: relative;
  z-index: 2;
}

.paginationJumpIcon {
  margin-left: 10px;
  padding-top: 3px;
  width: 15px;
  height: 15px;
}

.paginationJumpMenu {
  position: absolute;
  top: -125px;
  width: 200px;
  height: 110px;
  background: var(--el-bg-color-primary);
  box-shadow:
    0 2px 10px rgba(0 0 0 / 10%),
    0 2px 30px rgba(0 0 0 / 10%);
  border-radius: var(--btn-radius);
  padding: 15px;
}

.paginationJumpMenu::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 16px solid;
  border-color: var(--el-bg-color-primary) transparent transparent;
  position: absolute;
  bottom: -32px;
  left: 41%;
}

.paginationJumpInput {
  width: 100%;
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 16px;
  padding: 5px;
}

.paginationJumpInput:focus {
  outline: 0;
}

.paginationJumpSubmitBtn {
  width: 100%;
  color: #fff;
  background-color: var(--dark-aqua);
  border: none;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
}
