@use "../../../scss/common" as *;
@use "../../../scss/variables" as *;

.films {
  padding-bottom: 70px;
  padding-top: var(--header-height);
}

.title {
  @include font(24px, 26px, 900);

  margin-top: 30px;
  margin-bottom: 0;

  @media (min-width: $md) {
    font-size: 30px;
    line-height: 32px;
    margin-top: 40px;
  }

  @media (min-width: $lg) {
    font-size: 36px;
    line-height: 38px;
    margin-top: 60px;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 50px;

  @media (min-width: $md) {
    flex-direction: row;
  }
}

.filtersWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid var(--rating-grey);
  margin-bottom: 20px;

  @media (width >= 600px) {
    column-gap: 20px;
  }

  @media (min-width: $md) {
    border: none;
    margin-bottom: 0;
    column-gap: 0;
  }
}

.resetBtn {
  @include font(16px, 18px, 500);

  background-color: transparent;
  color: var(--aqua);
  padding: 11px 4px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid;

  @media (min-width: $md) {
    border: none;
    width: auto;
  }
}

.sortIcon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.sortText {
  @include font(16px, 18px, 500);

  color: rgba(255 255 255 / 75%);
  margin-right: 8px;
  white-space: nowrap;
  display: none;

  @media (width >= 600px) {
    display: inline;
  }
}

.sortTextMob {
  @include font(16px, 18px, 500);

  color: rgba(255 255 255 / 75%);
  margin-right: 8px;

  @media (width >= 600px) {
    display: none;
  }
}
