@use "variables" as *;

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin font($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1700px;
  padding: 0 20px;

  @media screen and (min-width: $md) {
    padding: 0 40px;
  }
}

.header-container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  max-width: 1700px;

  @media (min-width: $md) {
    padding: 0 40px;
  }
}

.page-block {
  padding-bottom: 30px;
  overflow: hidden;

  @media (min-width: $lg) {
    padding-bottom: 50px;
  }
}

.page-block--promo {
  padding-top: calc(20px + var(--header-height));

  @media (min-width: $md) {
    padding-top: calc(40px + var(--header-height));
  }
}

.bg-grey {
  background-color: var(--rating-grey);
}

.bg-green {
  background-color: var(--rating-green);
}

.bg-orange {
  background-color: var(--rating-orange);
}

.bg-red {
  background-color: var(--rating-red);
}
