html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  background-color: var(--body-bg-color);
  width: calc(100% - var(--scroll-width));
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  min-height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

button:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}
